# dependencies
node_modules/

# build
dist/

# prisma generated
generated/

# env
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# test
coverage/

# terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!*.tfvars.example

# misc
*.log

# compiled prisma seed
prisma/seed.js
prisma/seed.js.map
prisma/seed.d.ts

# typescript incremental build info
tsconfig.build.tsbuildinfo
